
<div id="<%= dom_id movie %>" class="movie-show">
  <p>
    <strong>Title:</strong>
    <span><%= movie.title %></span>
  </p>

  <p>
    <strong>Rating:</strong>
    <span><%= movie.rating %></span>
  </p>

  <p>
    <strong>Description:</strong>
    <span><%= movie.description %></span>
  </p>

  <p>
    <strong>Release Date:</strong>
    <span><%= movie.release_date %></span>
  </p>
  <p style="text-align: center;">
    <%= link_to "Edit", edit_movie_path(@movie), class: "btn"%>
  </p>
</div>
